@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
:root{
    --clr-violet: hsl(263, 55%, 52%);
    --clr-dark-grey-blue: hsl(217, 19%, 35%);
    --clr-black-blue: hsl(219, 29%, 14%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-grey: hsl(0, 0%, 81%);
    --clr-grey-blue: hsl(210, 46%, 95%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 13px;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--clr-grey-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}
.main{
    width: 24rem;
    margin:  auto;
    gap: 1rem;
    display: grid;

}
.article{
    padding: 1.5rem;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    box-shadow: 2px 1px var(--clr-light-grey);
}
.img-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.img{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.description{
    display: flex;
    flex-direction: column;
}
img{
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--clr-grey-blue);
}
.profile-details{
    font-weight: 500;
    opacity: 50%;
}
.message-container{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.content{
    font-weight: 600;
}
.message{
    font-weight: 500;
    opacity: 70%;
}
.article-one{
    background-color: var(--clr-violet);
    color: var(--clr-grey-blue);
}
.article-two{
    background-color: var(--clr-dark-grey-blue);
    color: var(--clr-light-grey);
}
.article-four{
    background-color: var(--clr-black-blue);
    color: var(--clr-grey-blue);
}
.article-three{
    background-color: var(--clr-white);
}
.article-five{
    background-color: var(--clr-white);
}
@media only screen and (min-width: 1000px){
    
    .main{
        width: 78rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .article-one{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .article-two{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .article-three{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .article-four{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .article-five{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}